:root {
  --animate-duration: 0.6s; // Your desired duration
  --animate-delay: 0.6s; // Your desired delay
  --animate-repeat: 1; // Your desired repeat count
}

// app global css in SCSS form
h1 {
  font-family: "Arial", sans-serif; // Example font family
  font-size: 1.8rem; // Example font size
  line-height: 1.8rem;
  // You can add more styles like color, line-height, etc.
}
h2 {
  font-family: "Arial", sans-serif; // Example font family
  font-size: 1.5rem; // Example font size
  line-height: 1.5rem;
  // You can add more styles like color, line-height, etc.
}

h3 {
  font-family: "Arial", sans-serif; // Example font family
  font-size: 1.2rem; // Example font size
  // You can add more styles like color, line-height, etc.
}
strong {
  margin-right: 0.5rem;
  color: #36384c;
}
li {
  list-style-type: none;
  padding-bottom: 1rem;
}
ul {
  padding-left: 0rem;
}

.quiz-question-text {
  font-size: large;
  font-weight: strong;
  color: blue;
}
.quiz-option-text {
  font-size: medium;
}
.quiz-explanation-text {
  font-size: medium;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5vh 10vw 10vh 10vw;
}

.level-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background-color: #e8eaf6; /* blue-6 color */
  margin: 0rem 0rem 0rem 0rem;
  padding: 1rem 0rem 2rem 0rem;
}

.explore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0rem 0rem 0rem 0rem;
  padding: 1rem 0rem 2rem 0rem;
}

.board-button {
  background-color: #6d6c12; /* blue-6 color */
  color: white;
  width: calc(25vw); /* Adjust to fit 3 in a row, considering margins */
  text-transform: none;
  margin: 0.5rem;
}

.grade-button {
  background-color: #464513; /* blue-6 color */
  color: white;
  width: calc(15vw); /* Adjust to fit 3 in a row, considering margins */
  text-transform: none;
  margin: 0.5rem;
}

.subject-button {
  background-color: #2f2f13; /* blue-6 color */
  color: white;
  width: calc(30vw); /* Adjust to fit 3 in a row, considering margins */
  text-transform: none;
  margin: 0.5rem;
}

.chapter-button {
  background-color: #1e88e5; /* blue-6 color */
  color: white;
  width: calc(25vw); /* Adjust to fit 3 in a row, considering margins */

  text-transform: none;
  margin: 1rem 2rem 1rem 2rem;
}

.explore-button {
  background-color: #3562a5; /* blue-6 color */
  color: white;
  // width: calc(25vw); /* Adjust to fit 3 in a row, considering margins */
  text-transform: none;
  font-size: large;
  border-radius: 2.5rem;
  margin: 1rem 2rem 1rem 2rem;
}

.continue-progress-button {
  background-color: #1e88e5;
  color: white;
  text-transform: none;
  font-size: large;
  margin: 1rem 2rem 1rem 2rem;
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.button-text {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.board-text {
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
}

.grade-text {
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
}

.subject-text {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

.chapter-text {
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-align: left;
}

.quiz-count-chip-box-text {
  display: flex;
  justify-content: center;
  // background-color: lightblue;
  color: grayscale($color: #928c8c);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.quiz-count-chip-box {
  padding: 0.5rem 0rem 0.5rem 0rem;
  display: flex;
  justify-content: center;
  // background-color: lightblue;
}
.selection-chip-box {
  padding: 0.5rem 0rem 0.5rem 0rem;
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

.selection-chip-box-chapter {
  padding: 0.5rem 0rem 0.5rem 0rem;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.custom-table-class .q-table__middle td {
  font-size: medium; /* or any other size */
}

.custom-table-class .q-table__middle th {
  font-size: large; /* or any other size */
}

.custom-table-class .q-table__grid-item-title {
  font-size: small; /* or any other size */
}

.custom-table-class .q-table__grid-item-value {
  font-size: medium; /* or any other size */
}

.custom-table-class
  .q-table__grid-item-card
  .q-table__grid-item-row:first-child
  .q-table__grid-item-value {
  font-size: larger; /* Adjust the font size as needed */
  color: #1e88e5; /* blue-6 color */
}

.custom-table-class .q-table__grid-content {
  display: flex;
  flex-wrap: wrap;
}

.custom-table-class .q-table__grid-item {
  display: flex;
  flex: 1 1 auto; /* Adjust this to control how the items grow and shrink */
  align-items: stretch; /* Makes items stretch to cover the full height */
}

.custom-table-class .q-table__grid-item-card {
  width: 100%; /* Ensures the card stretches to fill its container */
}

.quiz-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.summary-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.summary-container h2 {
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  font-size: larger;
}

.summary-container h3 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4f5271;
  width: fit-content;
  padding: 0rem 1.5rem 0rem 1.5rem;
  border-radius: 2rem;
  margin-left: 0rem;
  color: white;
  line-height: 2rem;
  font-weight: bold;
}

.summary-container strong {
  color: #36384c;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.5rem;
  border: #b6b9db;
  border-style: solid;
  border-width: 0.1rem;
}

.summary-text {
  padding: 1rem;
  font-size: 1rem;

  font-family: Arial, Helvetica, sans-serif;
}

/* Mobile Portrait */
@media (max-width: 600px) {
  .chapter-button {
    width: 80vw; /* Full width for vertical stacking */
    margin: 0.5rem;
  }
  .board-button {
    width: 60vw; /* Full width for vertical stacking */
  }
  .grade-button {
    width: 40vw; /* Full width for vertical stacking */
  }
  .subject-button {
    width: 75vw; /* Full width for vertical stacking */
  }
  .subject-text {
    font-size: 2rem;
  }
  .chapter-text {
    font-size: 1rem;
  }
  .quiz-container {
    width: 100%;
  }
  .summary-container {
    width: 100%;
  }

  .summary-container h3 {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    text-align: center;
    border-radius: 0rem;
    margin-left: 0rem;
    line-height: 2rem;
    font-weight: normal;
  }
}

/* Mobile Landscape */
@media (min-width: 601px) and (max-width: 900px) {
  .chapter-button {
    width: calc(45vw); /* Adjust to fit 2 in a row */
    margin: 0.5rem;
  }
  .board-button {
    width: 40vw;
  }
  .grade-button {
    width: 25vw;
  }
  .subject-button {
    width: 40vw;
  }
  .button-container {
    margin: 5vh 1vw 5vh 1vw;
  }
  .subject-text {
    font-size: 2rem;
  }
  .chapter-text {
    font-size: 1rem;
  }
  .quiz-container {
    width: 50%;
  }
  .summary-container {
    width: 100%;
  }
}
